*{
    margin: 0;
}

.conteiner{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
}

nav{
height: 80px;
display: flex;
align-items: center;
}

.logo img{
    width: 150px;
    display: flex;
    justify-content: center;
}


.averde{
    display: flex;
    justify-content: space-between;
    background-color: #19E68C;
    width: 1366;
    #feffff
}

.laptop{
    display: flex;
}

.texto{
    text-align: center;
    font-family: arial; 
    color: white;

}
.texto01{
    text-align: center;
    font-family: arial; 
    color: black;

}

.verde{
    background-color: #19E68C;
    height: 309px;
        display: flex;
    justify-content: center;
}

.preto{
    background-color: #000000;
}
.baixar a{
    display: flex;
    width: 200px
    
}